body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid black;

}

.titulo,
.input {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;

}

.contador {
    display: flex;
    justify-content: space-around;
    background-color: yellowgreen;
    font-weight: bolder;

}